@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  pointer-events: none;       /* Disable clicking or dragging */
  -webkit-user-drag: none;    /* Disable drag in Safari/Chrome */
}